<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../content/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Add Clients</title>
  </head>
  <body>
    @if (@Model.Count == 0)
    {
      <h3>No Clients have been added yet!</h3>
    }
    else
    {
      <h1>Here is your list of Clients:</h1>
      <ul>
        @foreach (var client in Model)
        {
          <li>@client.GetDescription()</li>
        }
      </ul>
      <form action="/clients/delete" method="post">
        <button type="submit" class="btn1 btn-lg">Delete all Clients</button>
      </form>
    }
    <h4><a href="/clients/new">Add a new Client</a></h4>
    <br>
    <h4><a href="/">Return to Homepage</a></h4>
  </body>
</html>
