<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../content/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Stylists</title>
  </head>
  <body>
    <h1>Stylists</h1>
    <hr />
    <ul>
    @if (@Model.Count == 0)
    {
      <p>There are no Stylists.</p>
    }
      @foreach (var stylist in Model)
      {
        <li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a> | <a href="/stylist/edit/@stylist.GetId()">Edit</a> | <a href="/stylist/delete/@stylist.GetId()">Delete</a></li>
      }
    </ul>
    <h4><a href="/stylists/new">Add new Stylist</a></h4>
    <br>
    <h4><a href="/">Return to Homepage</a></h4>

    <form action="/stylists/delete" method="post">
      <button type="submit" class="btn4 btn-lg">Delete all Stylists</button>
    </form>
  </body>
</html>
